:root{
  --background: rgb(251, 239, 225);
  --text-color: rgb(50 50 50);
}


body {
  font-family: "Poppins";
  background-color: var(--background);
  
}

.paper {
  background-color: antiquewhite;
}


.border-paper{
  border: 1px solid var(--background);
}

.border-grey{
  border: 1px solid rgb(214, 208, 208);
}

.small {
  background-color: var(--background) !important;
}


.text{
  color: var(--text-color);
}


